.App {
  text-align: center;
}

.App-logo {
  height: 60vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: animate__flipInX infinite;
  }
}

.App-header {
  background: rgb(70, 180, 50);
  background: -moz-radial-gradient(
    circle,
    rgba(70, 180, 50, 1) 0%,
    rgba(46, 47, 46, 1) 50%,
    rgba(19, 19, 19, 1) 100%
  );
  background: -webkit-radial-gradient(
    circle,
    rgba(70, 180, 50, 1) 0%,
    rgba(46, 47, 46, 1) 52%,
    rgba(19, 19, 19, 1) 100%
  );
  background: radial-gradient(
    circle,
    rgba(70, 180, 50, 1) 0%,
    rgba(46, 47, 46, 1) 52%,
    rgba(19, 19, 19, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#46b432",endColorstr="#131313",GradientType=1);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#46b432",endColorstr="#1d1d1d",GradientType=1);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#46b432",endColorstr="#030b01",GradientType=1);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#46b432",endColorstr="#030b01",GradientType=1);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
